.logo {
    width: 40px;
}
.imagemTeste{
    /* width: 100%;
    height: 260px; */
}
.owl-carousel .owl-item img {
    display: block;
    width: 95%;
}
.thumbnails .item-inner{
	padding: 30px;
}

body header nav { 
    background: #0A707F;
    position:  fixed;
}

.category{
    cursor: pointer;
}

.itensMenu{
    font-family: Calibri;
    font-size: 20px;
    font-weight: bold;
}

.menu{
    color: white;
    margin-left: 32px;
}
.menu:hover{
    color: black;
    text-decoration:none; 
}
.fontDefault{
    color: #0A707F;
    font-family: calibri;
}
.titleParagraph{
    font-weight: bold;
    font-size: 70px;
}
.titleLine{
    border: 1px solid;
}
.img-category{
    width: 110px;
}
.itens-category{
    margin-top: 28px;
}
.itens-category .titleProduct{
    margin-top: 9px;
    font-size: 29px;
    margin-bottom: 0;
}
.maskProduct{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.89);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;
    display: none;
}
.maskProduct .produto-imagem{
    width: 120px;
    margin-top: 14px;
}


.categoria-produto{
    text-align: center;
    position: relative;
    top: 72px;
}
.produto-descricao{
    float: left;
    font-size: 40px;
    margin-right: 0;
    margin-left: 16px;
}
.produto-valor{
    float: right;
    font-size: 26px;
    margin-top: 11px;
    margin-bottom: 0;
    margin-right: 10px;
}

.produto-comprar{
    border-radius: 16px !important;
    margin-top: 6px !important;
    margin-bottom: 7px !important;
    font-size: 12px !important;
    position: relative;
    left: 18px;
}

.segundo-row-produtos{
    position: relative;
    top: 20px
}

.card-image{
    margin: 0px;    
    border-radius: 12px;
    background: #fff;
}